html, body {
    width: 15rem;
}

/* toggle switch from https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 20px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9c0000;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
}

input:checked+.slider {
    background-color: #00a500;
}

input:checked+.slider:before {
    transform: translateX(12px);
}

label.text {
    padding-left: 0.5rem;
    cursor: pointer;
}

div.cell {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

p {
    padding: 0;
    margin: 0;
}

@media(prefers-color-scheme: dark) {
    html, body {
        background-color: #333333;
        color: #cccccc;
    }

    a {
        color: #cccccc;
    }
}

@media(prefers-color-scheme: light) {
    html, body {
        background-color: #ffffff;
        color: #000000;
    }

    a {
        color: #000000;
    }
}